* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 110px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* header section  */
header {
    background-color: #ff6900;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.col-20-head-left {
    width: 20%;
    margin: 15px 0px;
    padding-top: 5px;
}

.col-20-head-right {
    width: 20%;
    margin: 15px 0px;
    text-align: right;
    padding-top: 5px;
}

.col-60-head {
    width: 60%;
    margin: 15px 0px;
    display: flex;
    justify-content: center;
}


ul {
    text-align: left;
    list-style-type: none;
}

li {
    margin: 0px 10px;
    display: inline-block;
}

img {
    height: 30px;
    
}
/* header section end  */

/* main section  */

.col-33 {
    width: calc(100%/3);
}

.content {
    margin: 10px 10px 40px 10px;
    position: relative;
}

.content img {
    height: 100%;
    width: 100%;
}

.visible-image {
    display: block;
}

.hidden-image {
    display: none;
}

.content:hover .visible-image {
    display: none;
}

.content:hover .hidden-image {
    display: block;
}

.labels {
    position: absolute;
    bottom: 100px;
    left: 0;
    display: flex;
}

.label {
    padding: 5px 10px;
    color: white;
}

.bg-red {
    background-color: red;
    margin-right: 5px;
}

.bg-green {
    background-color: green;
}

.heart {
    font-size: 30px;
    padding: 5px 15px;
    background-color: white;
    position: absolute;
    top: 10px;
    right: 0px;
}

/* footert section  */
footer {
    background-color: #1a1a1a;
    padding: 30px;
}

.col-90 {
    width: 90%;
}

.col-10 {
    width: 10%;
}

h2 {
    margin: 0px 10px 5px 10px;
}

.footer-social-icons {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 20px;
}

.text-center {
    text-align: center;
}

.dashed-black {
    border: 1px dashed black;
}

.dashed-white {
    border: 1px dashed white;
}

.text-white {
    color: white;
}

.text-red {
    color: red;
}

.cancel {
    text-decoration: line-through;
}